<div class="container-fluid actionbar">
    <div class="row">
        <div class="titleContainer">
            <h2>{{header}}</h2>
        </div>
        <div class="actionContainer">
           
           <button ng-repeat="btn in actionButtons track by $index" ng-disabled="btn.disabled()" ng-click="btn.onclick()" ng-class="{'disabled' : btn.disabled()}" ng-hide="btn.hidden()" class="iconButton">
               <i class="{{btn.icon}}" aria-hidden="true"></i>
           </button>
           
        </div>
    </div>
</div>