<div class="container-fluid header">
    <div class="row">
        <div class="logoContainer">
           <img ng-src="/img/logo.png">
        </div>
        <div class="appTitleContainer">
            <h1 class="appTitle">Archivist</h1>
            
            <div class="organisationTitle">
                <span ng-show="!editMode" ng-click="edit()">
                    <span ng-bind="orgName"></span><button ng-click="saveOrgName(orgName)" type="submit" class="iconButton edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </span>
                
                <form ng-show="editMode" novalidate>
                    <input ng-model="orgName" id="orgNameInp" class="orgNameInput">
                    <button ng-click="saveOrgName(orgName)" type="submit" class="iconButton"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>