<div class="home flex-container">
    <actionbar header="header" action-buttons="actionButtons"></actionbar>
       
    <!--Search field -->
    <div class="row" ng-show="musicpieces">
        <div class="col col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
           <form role="search" novalidate>
                <div class="input-group searchField">
                    <input type="text" class="form-control" placeholder="Suchbegriff..." name="srch-term" id="srch-term" ng-model="searchText">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!--Main area, list of music pieces -->
    <div class="row" ng-show="musicpieces && !noSearchResult">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mainArea">
               
                <!-- table header for music pieces list -->
                <div class="row">
                    <div class="col-lg-3">
                        <h2>Titel</h2>
                    </div>
                    
                    <div class="col-lg-3">
                        <h2>Genre</h2>
                    </div>
                    
                    <div class="col-lg-3">
                        <h2>Komponist</h2>
                    </div>
                    
                    <div class="col-lg-3">
                        <h2>Schwierigkeit</h2>
                    </div>
                </div>
                
                <!-- table content -->
                <div class="row" ng-repeat="piece in musicpieces">
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="!musicpieces" class="noMusicPiecesArea">
        <div class="bigButton" ng-click="createAction()">
            <div>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </div>
            <p>
                Neues Musikstück<br>
                hinzufügen
            </p>
        </div>
    </div>
    
    <div ng-show="noSearchResult && musicpieces" class="row noSearchResultArea">
        <p>Leider keine Ergebnisse zu "{{searchText}}" gefunden...</p>
    </div>
</div>