<div ng-show="musicpieceLoaded" class="musicpiece container-fluid animate-linear">
   
    <div class="row" actionbar header="header" action-buttons="actionButtons"></div>
    
    <!--Main area, music piece -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mainArea">
               
                <div class="row">
                    <!-- Titel, Genre -->
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Titel</label>
                        <div>
                            <span ng-show="mode == 'view'" class="detailValue">{{musicpiece.musicPieceName || '-'}}</span>
                        </div>
                    </div>
                    
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Genre</label>
                        <div>
                            <span ng-show="mode == 'view'" class="detailValue">{{musicpiece.genre.genreName || '-'}}</span>
                        </div>
                    </div>
                
                    <!-- Komponist, Schwierigkeit, Archivnummer -->
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Komponist</label>
                        <div>
                            <span ng-show="mode == 'view'" class="detailValue">{{musicpiece.composer || '-'}}</span>
                        </div>
                    </div>
                    
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Schwierigkeit</label>
                        <div>
                            <span ng-show="mode == 'view'" class="detailValue">{{getDifficultyLabel(musicpiece.difficulty) || '-'}}</span>
                        </div>
                    </div>
                    
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Archivnummer</label>
                        <div>
                            <span ng-show="mode == 'view'" class="detailValue">{{musicpiece.archiveNo || '-'}}</span>
                        </div>
                    </div>
                </div>
                
                <!-- Scores -->
                <div ng-show="mode == 'view'" class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!--<label>Noten <a href="" class="manageScores">anpassen <i class="fa fa-pencil" aria-hidden="true"></i></a></label>-->
                        <label><a ui-sref="scores({musicPieceId:musicpiece.musicPieceId})">Noten <i class="fa fa-cog" aria-hidden="true"></i></a></label>
                        <div>
                            <div ng-repeat="score in musicpiece.scores track by score.scoreId" class="scoreItem">
                                <span>{{score.instrumentNo + '. ' + score.instrument.instrumentName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>