@import 'base';

.actionbar {
    /*Border:*/
    border-color: $grey;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    margin: 0px auto;
    padding: 15px;
    
    h2 {
        color: $dark-grey;
        margin: 0 15px;
        padding: 0;
        
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    
    button {
        margin-right: 12px;
        margin-left: 12px;
        padding: 0;
        
        i {
            margin: 0;
            padding: 0;
            font-size: 28px;
            
            @media (max-width: 767px) {
                font-size: 26px;
            }
        }
    }
    button:first-child {
        margin-right: 15px;
    }
    
    .row {
        height: 42px;
    }
    
    .col {
        height: 100%;
        display: table;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    .titleContainer {
        button, h2 {
            float: left;
        }
    }
    
    .actionContainer {
        button {
            float: right;
        }
    }
}