@import 'base';

.actionbar {
    /*Border:*/
    border-color: $grey;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    margin: 0px auto;
    padding: 15px;
    
    h2 {
        color: $dark-grey;
        margin: 0 15px;
        padding: 0;
    }
    
    button {
        margin-right: 4px;
        margin-left: 4px;
        
        i {
            margin: 0;
            padding: 0;
            font-size: 28px;
        }
    }
    button:last-child {
        margin-right: 15px;
    }
    
    .titleContainer {
        display: table-cell;
        vertical-align: middle;
    }
    
    .actionContainer {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}