/**
 * Styles for animations.
 */

/*Smooth fade-in/fade-out animation.*/
.animate-linear.ng-hide {
    opacity: 0;
}

.animate-linear.ng-hide-add,
.animate-linear.ng-hide-remove {
    -webkit-transition:0.3s linear all;
    transition: all ease 0.3s;
}