$red: #8F111A;
$light_red: #E9CFD1;
$grey: #AAAAAA;
$dark-grey: #777777;

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    /*font-family: 'Lato', sans-serif;*/
}

ng-view, ui-view {
    min-height: 100%;
}

ng-view:after, ui-view:after {
    content: "";
    display: block;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: inherit;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input:focus {
    outline: none !important;
}

.iconButton {
    background: none;
    border: none;
}
.iconButton:hover,
.iconButton:focus,
.iconButton:active {
    border: none;
    outline: 0;
}
.iconButton.disabled {
    opacity: 0.5;
}
.iconButton.disabled:hover {
}
.iconButton:not(.disabled):hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
}