.error {
    .errorArea {
        text-align: center;
        margin-top: 50px;
        opacity: 0.5;
        
        i {
            font-size: 256px;
            @media (max-width: 767px) {
                font-size: 172px;
            }
        }
        p {
            font-size: 36px;
            word-wrap: break-word;
            @media (max-width: 767px) {
                font-size: 26px;
            }
        }
    }
}