.error {
    .errorArea {
        text-align: center;
        margin-top: 50px;
        opacity: 0.5;
        i {
            font-size: 256px;
        }
        p {
            font-size: 36px;
            word-wrap: break-word;
        }
    }
}