@import 'base';

.home {
    
    .searchField, .mainArea {
        margin: 16px;
    }
    
    .mainArea {
        h2 {
            color: $dark-grey;
            margin: 0 12px;
            padding: 0;
        }
    }
    
    .noMusicPiecesArea {
        text-align: center;
        
        .bigButton {
            margin-top: 50px;
            display: inline-block;
            opacity: 0.5;
            i {
                font-size: 256px;
            }
            p {
                font-size: 36px;
            }
        }
        
        .bigButton:hover {
            opacity: 1;
        }
    }
    
    .noSearchResultArea {
        text-align: center;
        opacity: 0.5;
        
        p {
            margin-top: 50px;
            font-size: 36px;
        }
    }
}