@import 'base';

.home {
    
    margin: 0px auto;
    
    .searchField, .mainArea {
        margin-top: 30px;
    }
    
    .mainArea {
        
        padding: 15px;
        
        h3 {
            display: inline-block;
            color: $dark-grey;
            padding: 0;
            
            @media (max-width: 767px) {
                /*font-size: 16px;*/
            }
        }
        
        .listItem {
            border-style: solid;
            border-color: $grey;
            border-width: 1px 1px 0px 1px;
            overflow: hidden;
            height: 64px;
            /*line-height: 64px;
            white-space: nowrap;*/
            
            .col {
                /*display: table;*/
                height: 100%;                
                display: flex;
                /*align-items: center;*/
                justify-content: center;
                flex-direction: column;
                
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /*
                    white-space: nowrap;
                    display: table-cell;
                    vertical-align: middle;
                    */
                }
                input[type="checkbox"] {
                    width: 24px;
                    height: 24px;
                    float: right;
                }
            }
        }
        
        .listItem:hover {
            background: #EEEEEE;
        }
        
        .listItem:last-child {
            border-width: 1px;
        }
        
        .listItem.ng-enter,
        .listItem.ng-leave {
            -webkit-transition:0.5s linear all;
            transition:0.5s linear all;
        }

        .listItem.ng-enter,
        .listItem.ng-leave.ng-leave-active {
            opacity: 0;
            height: 0px;
        }
        .listItem.ng-leave,
        .listItem.ng-enter.ng-enter-active {
            opacity: 1;
            height: 64px;
        }
    }
    
    .noMusicPiecesArea {
        text-align: center;
        
        .bigButton {
            margin-top: 50px;
            display: inline-block;
            opacity: 0.5;
            i {
                font-size: 256px;
                @media (max-width: 767px) {
                    font-size: 172px;
                }
            }
            p {
                font-size: 36px;
                word-wrap: break-word;
                @media (max-width: 767px) {
                    font-size: 26px;
                }
            }
        }
        
        .bigButton:hover {
            opacity: 1;
        }
    }
    
    .noSearchResultArea {
        text-align: center;
        opacity: 0.5;
        
        span {
            word-wrap: break-word;
        }
        
        p {
            margin-top: 50px;
            font-size: 36px;
            word-wrap: break-word;
            @media (max-width: 767px) {
                font-size: 26px;
            }
        }
    }
}