$red: #8F111A;
$light_red: #E9CFD1;

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    /*font-family: 'Lato', sans-serif;*/
}

ng-view {
    min-height: 100%;
}

ng-view:after {
    content: "";
    display: block;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: inherit;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input:focus {
    outline: none !important;
}

.header {
    height: 100px;
    margin: 0px auto;
    color: $light_red;
    background-color: $red;    
    border-bottom: 1px solid black;
    overflow: hidden;
    
    .edit {
        padding-left: 8px;
        opacity: 0.4;
    }
    .edit:hover {
        opacity: 1;
    }
    
    .logoContainer {
        display: table-cell;
        vertical-align: top;
        img {
            height: 100px;
            margin-right: 20px;
        }
    }
    
    .appTitleContainer {
        display: table-cell;
        vertical-align: middle;
    }
    
    .organisationTitle {
        font-size: 14px;
        height: 20px;
    }
    
    .appTitle {
        font-size: 42px;
    }
    
    .appTitle, .organisationTitle {
        margin: 0;
        padding: 0;
        
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
    }
    
    .orgNameInput {
        height: 20px;
        color: black;
    }
}

.iconButton {
    background: none;
    border: none;
}
.iconButton:hover,
.iconButton:focus,
.iconButton:active {
    border: none;
    outline: 0;
}
.iconButton:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
}