@import 'base';

.musicpiece {
    .mainArea {
        label {
            margin: 6px 0 0 0;
            padding: 0;
            font-weight: lighter;
            font-size: 18px;
            color: $dark-grey;
            
            .manageScores {
                margin-left: 8px;
                font-size: 14px;
                color: $grey;
            }
            a:hover {
                color: black;
            }
        }
        
        .detailValue {
            font-size: 24px;
        }
        
        .col {
            margin-top: 8px;
            margin-bottom: 16px;
        }
        
        .scoreItem {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            
            height: 100px;
            width: 100px;
            margin: 1px;
            
            /*line-height: 100px;
            text-align: center;*/
            
            background-image: url("../img/score.png");
            background-size:     cover;
            background-repeat:   no-repeat;
            background-position: center center;
            
            border-color: black;
            border-style: solid;
            border-width: 1px;
            
            span {
                
                /*display: inline-block;
                vertical-align: middle;
                line-height: normal;*/
                
                height: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                text-align: center;
                
                font-weight: bold;
            }
        }
        
        .scoreItem:hover {
            -webkit-transform:scale(1.05); /* Safari and Chrome */
                -moz-transform:scale(1.05); /* Firefox */
                -ms-transform:scale(1.05); /* IE 9 */
                -o-transform:scale(1.05); /* Opera */
                 transform:scale(1.05);
        }
    }
}