@import 'base';

.musicpiece {
    .mainArea {
        
        padding: 15px;
        
        label {
            margin: 6px 0 0 0;
            padding: 0;
            font-weight: lighter;
            font-size: 18px;
            /*color: $dark-grey;*/
            
            .manageScores {
                margin-left: 8px;
                font-size: 14px;
                color: $grey;
            }
            .manageScores:hover {
                color: black;
            }
        }
        
        .detailValue, .editValue {
            display: inline-block;
            font-size: 24px;
            height: 44px;
        }
        
        .detailValue.ng-hide, .editValue.ng-hide {
             display: none !important;
        }
        
        input.editValue, select.editValue {
            width: auto;
        }
        
        p.help-block {
            margin-bottom: 0;
        }
        
        .col {
            margin-top: 8px;
            margin-bottom: 16px;
        }
        
        .scoreItem {
            margin-top: 4px;
            margin-right: 4px;
            background-image: url("../img/score.png");
            background-size:     cover;
            background-repeat:   no-repeat;
            background-position: center center;
        }
        .addScoreItem {
            margin-top: 4px;
            /*margin-left: -4px;*/
            i {
                font-size: 58px;
            }
        }
        .scoreItem, .addScoreItem {
            display: inline-block;
            overflow: hidden;
            
            height: 120px;
            width: 120px;
            
            border-color: black;
            border-style: solid;
            border-width: 1px;
            
            div {
                height: 100%;
                width: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;
                
                * {
                    display: block;
                    max-width: 100%;
                    min-width: 50%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: center;                    
                    word-wrap: break-word;
                    font-weight: bold;
                }
            }
        }
        
        .scoreItem:hover, .addScoreItem:hover {
            -webkit-transform:scale(1.05); /* Safari and Chrome */
                -moz-transform:scale(1.05); /* Firefox */
                -ms-transform:scale(1.05); /* IE 9 */
                -o-transform:scale(1.05); /* Opera */
                 transform:scale(1.05);
        }
    }
}